{% extends 'base.html' %}
 
{% block container %}
  <h2 class="title">Welcome!</h2>

  <h3 class="table-title">Judging Assignments</h3>
  <div class="table-container">
    <table class="table table-hover table-borderless data-table">
      <thead>
        <tr class="table-headers">
          <th scope="col">Table</th>
          <th scope="col">Category</th>
          <th scope="col">Project</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border-bottom: 1.5px solid #DDD;">
          <td>3</td>
          <td>General</td>
          <td>My App</td>
          <td>6</td>
        </tr>
        <tr>
          <td>6</td>
          <td>General</td>
          <td>My Project</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
